@media screen and (max-width: 576px) {
  .btn-primary {
    font-size: 15px;
    padding: 10px 25px;
  }
  .section-title {
    font-size: 32px;
  }

  /* Header  */
  body {
    margin: 0;
  }
  nav {
    margin: 0;
    padding: 0 10px;
  }
  nav .nav-title {
    margin: 0;
  }
  nav li {
    margin: 0;
  }
  nav ul {
    display: flex;
    gap: 20px;
  }
  .h-btn {
    margin-bottom: 0px;
  }
  .banner {
    height: 100%;
  }
  .banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .banner-greeting {
    margin: 0;
  }
  .header {
    background-image: url(./images/header_bg.png), url(./images/developer.png);
    background-size: auto, 7.5%;
    background-position: bottom center, top right;
    height: 100vh;
  }
  .banner {
    flex-direction: column;
    padding: 10px 0;
    padding-bottom: 20px;
  }
  .banner .profile-pic {
    width: 80%;
    display: none;
  }
  /* Skills  */
  .skills-wrap {
    margin-top: 20px;
  }
  .what-i-do-des {
    padding: 10px;
    text-align: justify;
  }
  .skills-container {
    flex-direction: column;
  }

  /* Resume  */
  .resume-container {
    flex-direction: column;
  }
  .resume-clm {
  }

  /* Footer   */
  .footer-wrap {
    flex-direction: column-reverse;
    padding: 10px;
    gap: 20px;
  }
  .footer-clm1,
  .footer-clm2 {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
  .contact input[type="text"],
  .contact input[type="email"],
  textarea {
    padding: 10px;
    width: calc(100% - 20px);
  }
  .contact input[type="submit"] {
    width: 100px;
    display: block;
    margin: 0 auto;
  }
  .social-links {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
  .footer-wrap .section-description {
    text-align: center;
    font-size: 15px;
  }

  /* About */
  .about {
    padding: 5px;
    margin: 20px 0;
  }
  .about-info-container {
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  /* Header  */
  body {
    margin: 0;
  }
  nav {
    margin: 0;
    padding: 0 10px;
  }
  nav .nav-title {
    margin: 0;
  }
  nav li {
    margin: 0;
  }
  nav ul {
    display: flex;
    gap: 20px;
  }
  .banner {
    flex-direction: column;
    padding: 10px;
  }
  .banner .profile-pic {
    width: 80%;
  }
  /* Skills  */
  .skills-wrap {
    margin-top: 20px;
  }
  .what-i-do-des {
    padding: 40px;
    text-align: justify;
  }
  .skills-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .skill {
    width: 80%;
  }

  /* Resume  */
  .resume-container {
    flex-direction: column;
  }
  .resume-clm {
    padding: 0px 20px;
  }

  /* Footer  */
  .footer-wrap {
    flex-direction: column-reverse;
    padding: 10px;
    gap: 20px;
  }
  .footer-clm1,
  .footer-clm2 {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
  .contact input[type="text"],
  .contact input[type="email"],
  textarea {
    padding: 20px;
    margin: 20px 40px;
    width: calc(100% - 120px);
  }
  .contact input[type="submit"] {
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  .social-links {
    width: 50%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
  }
  .footer-wrap .section-description {
    text-align: center;
  }

  /* About */
  .about {
    padding: 10px;
    margin: 30px 0;
  }
  .about-info-container {
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 0;
  }
}
